extends ../layout

block content
  .container
    h1 Add New Project
    form(action="/admin/add-project", method="POST")
      .form-group
        label(for="title") Title
        input#title(type="text", name="title", placeholder="Enter project title", required)

      .form-group
        label(for="description") Description
        textarea#description(name="description", placeholder="Enter project description", required)

      .form-group
        label(for="link") Project Link (URL)
        input#link(type="url", name="link", placeholder="Enter project link (optional)")

      .form-group
        label(for="deadline") Deadline
        input#deadline(type="date", name="deadline")

      .form-group
        label(for="category") Category
        input#category(type="text", name="category", placeholder="Enter project category")

      button(type="submit") Add Project
