extends ../layout

block content
  .container
    h1 Admin Dashboard
    .row
      .col
        a(href="/admin/add-project") Add New Project
      .col
        a(href="/admin/add-skill") Add New Skill
      .col
        a(href="/admin/projects") View Projects
      .col
        a(href="/admin/skills") View Skills
