doctype html
html
  head
    title Project Management
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      h1 Project Management Dashboard
    main
      block content  // This is where child templates will inject their content
    footer
      p © 2024 Project Management
